.submitButton {
        color: black;
        margin: 8px;
        background-color: #eee;
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        cursor: pointer;
        transition: border-color 0.25s;
    

}

.submitButton:hover {
    background-color: #ccc;
    border-color: #ccc;
}
