#root {
  max-width: 1280px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.wrapper {
  border: 1px solid red;
  height: 600px;
  width: 800px;
  display: grid;
  row-gap: 10px;
  padding: 10px;
}

.header {
  border: 1px solid blue;
  height: 40%;
}

.flashcardContainer {
  border: 1px solid green;

}

.arrowContainer {
  border: 1px solid orange;
  height: 30%;
}
