#root {
  max-width: 1280px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.wrapper {
  border: 1px solid red;
  height: 520px;
  width: 580px;
  display: grid;
  /*row-gap: 10px;*/
  padding: 10px;
  grid-template-rows: 30% 60% 10%;
  color:white;
  /*background-color: red;*/

}

.header {
  background-color: blue;
}

.flashcardContainer {
  /*background-color: green;*/
  display: grid;
  place-items: center;
}

.arrowContainer {
  margin: auto;
}
